table{
    width: 100%;
}
.table{
    &__colorSample{
        height: 20px;
        width: 20px;
    }
    &__deleteButton{
        height: 15px;
        width: 15px;
        cursor:pointer;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        &:hover{
            background-color: #EEFEFE
        }
    }
    &__container{
        max-height: 270px;
        overflow: auto;
    }
    
}
